* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

body {
    text-align: center;
    color: gray;
    font-family: "Poppins", sans-serif;
}

.main{
    margin: 1rem;
}

form {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

form input{
    padding: 0.5rem;
    font-size: 1.5rem;
}

form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
}
form button {
  color: gray;
  background: #f7fffe;
}
form button:hover {
  background: green;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.complete-btn, .trash-btn{
    padding: 0 1rem 0;
    margin: 8px 1rem 0;
}
